.elements__like-button_inacative {
    background: url(../../../../images/icons/like-heart/disabled.svg) center no-repeat;
    border: none;
    width: 21px;
}

.elements__like-button_inacative:hover {
    background: url(../../../../images/icons/like-heart/hover.svg) center no-repeat;
    transform: scale(1.2);
}