.popup {
    position: fixed;
    bottom: 0%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;   
}