.elements__button_like {
    background: url(../../../../images/icons/like-heart/disabled.svg) center no-repeat;
    width: 21px;
    height: 19px;
    margin-bottom: 3px;
}

.elements__button_like:hover {
    opacity: 0.6;
}
