.form__button {
    width: 358px;
    height: 50px;
    background: url(../../../images/icons/save-button/normal.svg) center no-repeat;
    background-color: #fff;
    transition: 0.1s linear 0.1s;
    border: none;
    margin: 48px 0 0;
    justify-self: center;
    cursor: pointer;
}

.form__button:hover {
    background: url(../../../images/icons/save-button/hover.svg) center no-repeat;
}

@media screen and (max-width: 620px) {
    .form__button {
        max-width: 238px; 
        max-height: 46px;
    }
}