.popup__container {
    background: #fff;
    max-width: 430px; 
    max-height: 330px;
    padding: 34px 36px 36.5px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    color: #000;
    margin: 0 auto 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 620px) {
    .popup__container {
        max-width: 282px; 
        max-height: 322px;
        padding: 25px 22px 25px;
    }
}