.elements__button_trash{
    background: url(../../../../images/icons/trash-button/trash.svg) center no-repeat;
    position: relative;
    width: 18px;
    height: 19.3px;
    margin-left: 235px;
    z-index: 1;
    right: 0
}

.elements__button_trash:hover {
    opacity: 0.6;
}