.form__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    width: 358px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.form__input:nth-child(2) {
    margin-top: 30px;
}

@media screen and (max-width:620px) {
    .form__input {
        width: 238px;
        font-size: 14px;
    }
}